// Resets, Clearfix, etc
@import "./partials/reset";
@import "./partials/clearfix";

// Variables
$dark-color: #222;
$light-color: #EEE;
$bright-color: orange;
$global-padding: 10px;

// Mixins
@mixin block_font($block_font_size, $block_font_color){
  font-size: $block_font_size !important;
  color: $block_font_color !important;
}

// Media Query Ranges
@media screen and (min-width: 600px) {
  body{
    background-color: $bright-color !important;
  }
  h1 {
    color: $light-color !important;
    font-size: 43px !important;
    padding: 15px !important;
  }
  h2 {
    @include block_font(1.7em, $bright-color);
  }
  .block_family li{
    background-color: $light-color !important;
    padding: 14px !important;
  }
}
@media screen and (min-width: 900px) {

}

// Styles
body{
  background-color: $bright-color;
  text-align: center;
  color: #EEE;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
  font-size: 55px;
  color: $dark-color;
}

h2{
  font-size: 2em;
  color: $light-color;
}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}